.wrapper {
  position: relative;
}

.playButtonWrapper {
  position: absolute;
  top: 0;
  width: 384px;
  height: 256px;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButtonWrapper:hover {
  opacity: 1;
}

.playButton {
  color: white;
  z-index: 3;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 5px rgb(0 0 0 / 0.8));
}

.video {
  max-width: 384px;
  width: 100%;
  border-radius: 5px;
}